<table style="display: table; width: 100%;">
      <thead>
          <tr>
              <th>Version</th>
              <th>Release date</th>
              <th>Manager</th>
              <th>Messaging</th>
              <th>Structural check</th>
              <th>Technical Advisor</th>
              <th>Social</th>
          </tr>
      </thead>
      <tbody>
          {{- range site.Data.public.release_post_managers.releases }}
          <tr>
              <td>{{ .version }}</td>
              <td>{{ .date }}</td>
              <td>
                  {{- with .manager }}
                  {{- with (index (where site.Data.public.team "gitlab" "eq" .) 0) }}
                      {{- partial "member/with-team-link" . }}
                  {{- else }}
                      {{- if not (eq . "tbd") }}
                      <a href="https://gitlab.com/{{ . }}">
                      <img class="avatar" src="https://about.gitlab.com/images/gitlab-logo-extra-whitespace.png" width="90" height="90" alt="{{ . }}">@{{.}}
                    </a>
                    {{- end }}
                  {{- end }}
              {{- end }}
              </td>
              <td>
                  {{- with .messaging }}
                  {{- with (index (where site.Data.public.team "gitlab" "eq" .) 0) }}
                        {{- partial "member/with-team-link" . }}
                    {{- else }}
                        {{- if not (eq . "tbd") }}
                        <a href="https://gitlab.com/{{ . }}">
                        <img class="avatar" src="https://about.gitlab.com/images/gitlab-logo-extra-whitespace.png" width="90" height="90" alt="{{ . }}">@{{.}}
                      </a>
                      {{- end }}
                    {{- end }}
                    {{- end }}
              </td>
              <td>
                  {{ with .structural_check }}
                  {{- with (index (where site.Data.public.team "gitlab" "eq" .) 0) }}
                      {{- partial "member/with-team-link" . }}
                  {{- else }}
                      {{- if not (eq . "tbd") }}
                      <a href="https://gitlab.com/{{ . }}">
                      <img class="avatar" src="https://about.gitlab.com/images/gitlab-logo-extra-whitespace.png" width="90" height="90" alt="{{ . }}">@{{.}}
                    </a>
                    {{- end }}
                  {{- end }}
                  {{- end }}
              </td>
              <td>
                {{- with .technical_advisor }}
                  {{- with (index (where site.Data.public.team "gitlab" "eq" .) 0) }}
                        {{- partial "member/with-team-link" . }}
                    {{- else }}
                        {{- if not (eq . "tbd") }}
                        <a href="https://gitlab.com/{{ . }}">
                        <img class="avatar" src="https://about.gitlab.com/images/gitlab-logo-extra-whitespace.png" width="90" height="90" alt="{{ . }}">@{{.}}
                      </a>
                      {{- end }}
                    {{- end }}
                {{- end }}
              </td>
              <td>
                  {{- with .social }}
                  {{- with (index (where site.Data.public.team "gitlab" "eq" .) 0) }}
                      {{- partial "member/with-team-link" . }}
                  {{- else }}
                      {{- if eq . "--"}}
                      <a href="https://gitlab.slack.com/archives/C3TRESYPJ" title="Ping @social on Slack" target="slack"><img src="/images/slack-mark.png" style="padding:4px" alt="Slack Logo" class="avatar" height="40" width="40"> @social on Slack</a>
                    {{- else if not (eq . "tbd") }}
                      <a href="https://gitlab.com/{{ . }}">
                      <img class="avatar" src="https://about.gitlab.com/images/gitlab-logo-extra-whitespace.png" width="90" height="90" alt="{{ . }}">@{{.}}
                    </a>
                    {{- end }}
                  {{- end }}
                {{- end }}
          </tr>
          {{- end }}
      </tbody>
  </table>
